# ---- Sonar
.sonar

# ---- IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea
*.idea

./idea/sonar
./idea
.idea
.idea/sonar
.idea*
../.idea
../.idea/sonar
../.idea*
.idea/sonarlint
.idea/sonarlint/
.idea/sonarlint/issuestore