$color1: rgb(211 255 215);
$color2: rgb(0 0 0);
$color3: rgb(200 200 200);
$color4: rgb(22 0 45);
$color5: cd rgb(250 255 0);
$color6: rgb(36 0 0);
$color7: rgb(20 175 125);
$color8: rgb(0 10 255);
$color9: rgb(255 77 0);
$color10: rgb(0 200 255);
$color11: rgb(255 0 0);
$color12: rgb(120 86 255);